.uni-scholars-header {
    background-color: aqua;
}

.uni-scholars-header h1 {
    padding-right: 25px;
}

.div-int-books,
.div-ext-books {
    padding-right: 25px;
    margin-right: 25px;
    color: blueviolet;
}

input,
select {
    width: 180px;
}